.header-logo {
    max-height: 80px;
    width: auto;
}
.search-form {
    display: flex;
    border-bottom: 1px solid #435b61;
    width: 250px;
    align-items: center;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
    font-size: 14px;
    color: #435b61;
    width: 100%;
}
.search-input::placeholder {
    color: #435b61;
    font-style: italic;
}

.search-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #435b61;
    padding: 0 5px;
}