@media (max-width: 1024px) {
    header .row {
        flex-direction: column;
        text-align: center;
    }
    .content-text .row {
        flex-direction: column;
        text-align: center;
    }
    .content-text h2 {
        font-size: 28px;
    }
}
@media (max-width: 768px) {
    body { font-size: 14px; }
    h1.display-4 { font-size: 24px !important; }

    section .row .col-md-4 {
        margin-bottom: 40px;
    }
    footer .container.d-flex {
        flex-direction: column !important;
        text-align: center;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .footer-links a {
        padding: 5px 0 !important;
        font-size: 12px;
    }
    .social-icons {
        justify-content: center;
        display: flex;
        gap: 10px;
    }
}
@media (max-width: 480px) {
    .search-form {
        width: 100%;
    }
    .search-input {
        width: 80%;
    }
}